<section id="section-apply" class="pb-sm-py-cover text-center cover-bg-black cover-bg-opacity-6" style="background-image: url(/assets/images/writing-min.jpg)">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12">
                <h2 class="heading mb-3">Apply Now</h2>
                <p class="sub-heading mb-5">Do you fit the requirements and are ready to apply?<br>Submit your application here!</p>
                <p><a id="applyButton" href="https://docs.google.com/forms/d/e/1FAIpQLSfrDCpLDcPj2KkXPJvamoC7Oh9mVXWoaPe1674gWXryxUzlLA/viewform" role="button" class="btn btn-light smoothscroll pb-outline-light p-3 rounded-0" target="_blank" rel="noopener">Apply Now</a></p>
            </div>
        </div>
    </div>
</section>