<section class="pb-cover-v1 text-left cover-bg-black cover-bg-opacity-6" style="background-image: url(/assets/images/graduation-min.jpg)" id="section-home">
    <div class="container">
        <div class="row align-items-center justify-content-start">
            <div class="col-md-9  order-md-1">
                <h1 class="heading mb-3">SEBS Scholarship</h1>
                <div class="sub-heading" style="float: none;">
                    <p id="countdown_label" data-closed-text="Application Opens January 15th">Application Opens January 15th</p>
                    <p id="countdown_value"></p>
                    <div class="mb-5"></div>
                    <a href="#section-details" role="button" class="btn btn-light smoothscroll pb-outline-light btn-xl p-4 rounded-0 d-inline-block mb-1 no-nav-expand" id="actionButton">Learn More</a>
                    <a href="/email/subscribe.html" role="button" class="btn btn-light smoothscroll pb-outline-light btn-xl p-4 rounded-0 d-inline-block mb-1">Join Our Newsletter</a>
                </div>
            </div>
        </div>
        <div id="scroll-div" class="scroller align-items-center">
            <a href="#section-about" class="smoothscroll no-nav-expand"><span></span>Scroll</a>
        </div>
    </div>
</section>