<section class="pb-section bg-light" id="section-details">
    <div class="container">
        <div class="row justify-content-md-center text-center mb-5">
            <div class="col-md">
                <h2 class="mt-0 heading-border-top font-weight-normal">Scholarship Details</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md col-seperator-left">
                <div class="media pb-media-v2 d-block text-center mb-3">
                    <div class="icon d-block mr-3 display-4 mx-auto mb-4"><i class="fa fa-star"></i></div>
                    <div class="media-body">
                        <h3 class="mt-0">Scholarship<br>Award</h3>
                        <p>One-time, merit-based <b>$1000</b> scholarship.</p>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="media pb-media-v2 d-block text-center mb-3">
                    <div class="icon d-flex mr-3 display-4 mx-auto mb-4"><i class="fa fa-flag"></i></div>
                    <div class="media-body">
                        <h3 class="mt-0">Application<br>Open</h3>
                        <p>The application will open at beginning of day January 15th.</p>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="media pb-media-v2 d-block text-center mb-3">
                    <div class="icon d-flex mr-3 display-4 mx-auto mb-4"><i class="fa fa-hourglass-end"></i></div>
                    <div class="media-body">
                        <h3 class="mt-0">Application<br>Deadline</h3>
                        <p>The application will close at end of day February <span id="close-date">14</span>th.</p>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="media pb-media-v2 d-block text-center mb-3">
                    <div class="icon d-flex mr-3 display-4 mx-auto mb-4"><i class="fa fa-trophy"></i></div>
                    <div class="media-body">
                        <h3 class="mt-0">Recipient<br>Decision</h3>
                        <p>The recipient will be announced in May.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>