<section class="pb-section" data-section="donate" id="section-donate">
    <div class="container">
        <div class="row justify-content-md-center text-center mb-5">
            <div class="col">
                <h2 class="mt-0 heading-border-top font-weight-normal mb-5">Donate</h2>
            </div>
        </div>
        <div class="row justify-content-md-center text-center mb-5">
            <div class="col-md">
                <div id="donorbox"></div>
                <div class="mb-5 d-wall">
                    <div id="donorbox-comments"></div>
                </div>
            </div>
        </div>
    </div>
</section>