<ul class="list-inline mb-0">
    <li class="list-inline-item">
        <p><a href="/privacy_policy.html">Privacy Policy</a></p>
    </li>
    <li class="list-inline-item">
        <p><a href="/tax_documents.html">Tax Documents</a></p>
    </li>
    <li class="list-inline-item">
        <p><a href="/selection_process.html">Selection Process</a></p>
    </li>
    <li class="list-inline-item">
        <p><a href="/assets/documents/Rubric.pdf" target="_blank" rel="noopener">Rubric</a></p>
    </li>
</ul>