<section class="pb-section pb-testimonial-v1 bg-light bg-image with-overlay" data-section="recipients" id="section-recipients" style="background-image: url(/assets/images/college-min.jpg)">
    <div class="container">
        <div class="row justify-content-md-center text-center mb-5">
            <div class="col-lg-7">
                <h2 class="mt-0 heading-border-top font-weight-normal text-white">Past Recipients</h2>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-10 col-sm-12 mb-5">
                <div class="single-item-no-arrow pb-slide-v1">
                    <div>
                        <div class="media">
                            <img class="d-flex img-fluid rounded-circle mb-sm-5" src="/assets/images/Susannah.jpg" alt="Susannah">
                            <div class="media-body pl-md-5 pl-sm-0">
                                <blockquote>
                                    <p>&ldquo;The greatest thing SEBS did was strengthen my determination to succeed. In the coming years, I will be attending Colorado State University Pueblo as a nursing student, hoping to eventually join in aiding my community at Parkview hospital. I am incredibly honored to be a recipient of this award.&rdquo;</p>
                                    <p class="pb-author"><cite class="text-uppercase">Susannah Baxter</cite> Class of 2023</p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="media">
                            <img class="d-flex img-fluid rounded-circle mb-sm-5" src="/assets/images/Lauren.jpg" alt="Lauren">
                            <div class="media-body pl-md-5 pl-sm-0">
                                <blockquote>
                                    <p>&ldquo;In the fall, I plan to attend Baylor University as a biochemistry major. I am extremely excited to get involved in campus life and begin working towards my degree. I am humbled and grateful to have received the SEBS Scholarship. Thank you to all the donors, volunteers, and foundation members whose hard work made this award possible.&rdquo;</p>
                                    <p class="pb-author"><cite class="text-uppercase">Lauren Leyh</cite> Class of 2022</p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="media">
                            <img class="d-flex img-fluid rounded-circle mb-sm-5" src="/assets/images/Olivia.jpg" alt="Olivia">
                            <div class="media-body pl-md-5 pl-sm-0">
                                <blockquote>
                                    <p>&ldquo;I will be attending Colorado State University - Fort Collins in the fall, majoring in Biology. I'm looking forward to the many educational opportunities college will bring, as well as exploring a new town with many different kinds of people!&rdquo;</p>
                                    <p class="pb-author"><cite class="text-uppercase">Olivia Travierso</cite> Class of 2021</p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="media">
                            <img class="d-flex img-fluid rounded-circle mb-sm-5" src="/assets/images/Marianna.jpg" alt="Marianna">
                            <div class="media-body pl-md-5 pl-sm-0">
                                <blockquote>
                                    <p>&ldquo;Next year I will be attending the University of Colorado Boulder and I am looking forward to studying architectural engineering and making new friendships!&rdquo;</p>
                                    <p class="pb-author"><cite class="text-uppercase">Marianna Benitez</cite> Class of 2020</p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>