<section class="pb-section" data-section="requirements" id="section-requirements">
    <div class="container">
        <div class="row justify-content-md-center text-center">
            <div class="col-md col-seperator-left mb-5">
                <div class="media pb-media-v2 d-block text-center mb-3">
                    <h2 class="mt-0 heading-border-top font-weight-normal">Eligibility Requirements</h2>
                    <br>
                    <div class="text-left">
                        <p>The minimum requirements needed to apply for this scholarship are as follows:</p>
                        <ul>
                            <li>
                                <p>Be a currently enrolled senior graduating from the School of Engineering and Biomedical Science at Pueblo County High School.</p>
                            </li>
                            <li>
                                <p>Hold a cumulative weighted GPA of at least 3.0 at the time of application.</p>
                            </li>
                            <li>
                                <p>Student must enroll in an accredited 2- or 4-year degree program in the fall semester of their graduation year.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md mb-5">
                <div class="media pb-media-v2 d-block text-center mb-3">
                    <h2 class="mt-0 heading-border-top font-weight-normal">Application Requirements</h2>
                    <br>
                    <div class="text-left">
                        <p>The application includes two written responses and your high school transcript.
                            Listed below are all the required parts of the application.</p>
                        <ul>
                            <li>
                                <p>Upload your latest unofficial high school transcript as a single PDF document.</p>
                            </li>
                            <li>
                                <p>Briefly describe a problem related to a field you're interested in. Then, please address the following in detail: What actions can individuals in this industry take to solve the problem? Response must be 500 words or fewer.</p>
                            </li>
                            <li>
                                <p>Review the values of the SEBS Scholarship Foundation listed below. Choose one of these values and describe a time when you learned the importance of this value. Response must be 500 words or fewer.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>