<section class="pb-section" data-section="requirements" id="section-requirements">
    <div class="container">
        <div class="row justify-content-md-center text-center">
            <div class="col-md col-seperator-left mb-5">
                <div class="media pb-media-v2 d-block text-center mb-3">
                    <h2 class="mt-0 heading-border-top font-weight-normal">Eligibility Requirements</h2>
                    <br>
                    <div class="text-left">
                        <p>The minimum requirements needed to apply for this scholarship are as follows:</p>
                        <ul>
                            <li>
                                <p>Be a currently enrolled senior graduating from the School of Engineering and Biomedical Science at Pueblo County High School.</p>
                            </li>
                            <li>
                                <p>Student must enroll in an accredited 2- or 4-year degree program in the fall semester of their graduation year.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md mb-5">
                <div class="media pb-media-v2 d-block text-center mb-3">
                    <h2 class="mt-0 heading-border-top font-weight-normal">Application Requirements</h2>
                    <br>
                    <div class="text-left">
                        <p>The application consists of two written responses listed below.</p>
                        <ul>
                            <li>
                                <p>Briefly describe a problem related to a field you're interested in. Then, in detail, describe the most promising solution(s) and why they stand out. Address limitations or counterarguments.  Response must be 500 words or less.</p>
                            </li>
                            <li>
                                <p>Think of one extracurricular activity that has inspired you. Tell the story of a meaningful lesson you learned through your involvement in this activity. Response must be 500 words or less.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center align-items-center text-center">
            <div class="col-md-12">
                <p><a href="/assets/documents/Sample.pdf" role="button" class="btn pb-outline-dark p-3 rounded-0" target="_blank" rel="noopener">Sample Essay</a></p>
            </div>
        </div>
    </div>
</section>