<section id="section-resumes" class="pb-section bg-light" style="padding: 6em 0">
    <div class="container">
        <div class="row">
            <div class="col-md justify-content-md-center text-center">
                <h2 class="mt-0 heading-border-top font-weight-normal mb-5">Resume Workshop</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md justify-content-md-start">
                <div class="text-left">
                    <img class="img1 img-fluid float-right img-wrap mt-0" src="/assets/images/interview.jpg" alt="Interview">
                    <p class="sub-heading mb-5" style="font-size: 1.25em">Need help putting together a resume for a college program, internship, or job? Sign up for a free one-on-one workshop.</p>
                </div>
                <div class="text-center">
                    <p><a href="/resume-workshop.html" role="button" class="btn pb-outline-dark p-3 rounded-0">Learn More</a></p>
                </div>
            </div>
        </div>
    </div>
</section>