<section class="pb-section bg-light" data-section="donate" id="section-supporters">
    <div class="container">
        <div class="row justify-content-md-center text-center mb-5">
            <div class="col">
                <h2 class="mt-0 heading-border-top font-weight-normal mb-5">Business Supporters</h2>
            </div>
        </div>
        <div class="row justify-content-md-center text-center mb-5">
            <div class="col-sm justify-content-center d-flex mb-5">
                <div class="donor-logo">
                    <a href="https://www.ent.com/about-us/why-we-serve/philanthropy/" target="_blank" rel="noopener">
                        <img src="/assets/images/ent.png" alt="Ent">
                        <div class="donor-logo-cover">
                            <span class="donor-name" style="font-size: .8rem;">Ent Credit Union Community Fund of Pikes Peak Community Foundation</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm justify-content-center d-flex mb-5">
                <div class="donor-logo">
                    <a href="https://hitekcomputing.net/" target="_blank" rel="noopener">
                        <img src="/assets/images/hitek.png" alt="HiTek Computing">
                        <div class="donor-logo-cover">
                            <span class="donor-name">HiTek Computing</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm justify-content-center d-flex mb-5">
                <div class="donor-logo">
                    <a href="https://colobank.com/" target="_blank" rel="noopener">
                        <img src="/assets/images/colo-bank.png" alt="Colorado Bank & Trust Company">
                        <div class="donor-logo-cover">
                            <span class="donor-name">Colorado Bank & Trust Company</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center text-center mb-5">
            <div class="col-sm justify-content-center d-flex mb-5">
                <div class="donor-logo">
                    <a href="https://frontrangefence.com/" target="_blank" rel="noopener">
                        <img src="/assets/images/FRFD.png" alt="Front Range Fencing and Deck">
                        <div class="donor-logo-cover">
                            <span class="donor-name" style="font-size: .8rem;">Front Range Fencing and Deck</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>