<section data-section="volunteering" id="section-volunteering" class="pb-sm-py-cover text-center cover-bg-black cover-bg-opacity-6" style="background-image: url(/assets/images/announcement-min.jpg)">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12">
                <h2 class="heading mb-3">Interested in Volunteering?</h2>
                <p class="sub-heading mb-5">Are you a SEBS or PCHS alumni interested in making a difference in the lives of upcoming SEBS graduates? Fill out the volunteering interest form here!</p>
                <p><a href="https://forms.gle/S5Jj9pZgAd44eBHR9" role="button" class="btn btn-light smoothscroll pb-outline-light p-3 rounded-0" target="_blank" rel="noopener">Volunteer Now</a></p>
            </div>
        </div>
    </div>
</section>